<div class="container text-start mh-100 pt-5 d-flex flex-column justify-content-start gap-4">
      <span class="mt-5 fw-bold fs-6">
            <%=msg%>
      </span>
      <span>Back to <a href="/employees">Employee</a> Page </span>
      <span>See <a href="/tasks">All Tasks </a>assigned by you </span>
</div>
