<div class="container row mt-5 d-flex justify-content-center">
      <div class=" col-md-5 col-sm-8 col-11 m-auto rounded pb-2 ">
            <span class="badge bg-success bg-opacity-25 d-block text-center mb-2 text-muted rounded">User
                  Registration</span>
            <%if(typeof errors !=='undefined' ){%>
                  <ul class="list-unstyled text-end">
                        <%errors.map(err=>{%> <li class="text-danger">
                                    <%=err%>
                              </li>
                              <%})%>
                  </ul>
                  <%}%>
                        <form action="/auth/register" method="POST" class="pt-2">
                              <div class="form-group text-start mb-3">
                                    <label for="name">Full Name</label>
                                    <input type="name" name="name" required class="form-control text-center"
                                          placeholder="Your Name"
                                          value="<%= typeof name != 'undefined' ? name : 'masumkhan' %>" />
                              </div>
                              <div class="form-group text-start mb-3">
                                    <label for="email">Email masum498673 masumkhan081</label>
                                    <input type="email" name="email" required class="form-control text-center"
                                          placeholder="Enter Email" value="masumkhan.medilifesolution@gmail.com" />
                              </div>
                              <div class="form-group text-start mb-3">
                                    <label for="password ">Password</label>
                                    <input type="password " name="password" required class="form-control text-center"
                                          placeholder="Password ?"
                                          value="<%= typeof password != 'undefined' ? password : '123456' %>" />
                              </div>
                              <div class="form-group text-start mb-3">
                                    <label for="confirmpassword ">Confirm Password</label>
                                    <input type="password " name="confirmpassword" required
                                          class="form-control text-center" placeholder="Password again ... "
                                          value="<%= typeof password2 != 'undefined' ? password2 : '123456' %>" />
                              </div>
                              <button type="submit "
                                    class="btn btn-sm fw-bold bg-success bg-opacity-50 mt-2 rounded w-50 float-end">
                                    Register </button>
                        </form>
      </div>
</div>
